# operating system
.DS_Store

# ide
.settings/
.classpath
.project
bin/
*.iml
.idea/
out/

# build tool
.gradle/
build/

missing_stuff1.txt

# api spec resources
src/main/resources/api-specification/2022.7.1
